<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand fs-1" href="#">Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link mt-3 fs-3" href="/">Home</a>
                <a class="nav-link mt-3 fs-3" href="">----</a>
                <a class="nav-link mt-3 fs-3" href="">----</a>
            </div>
        </div>
        <form class="form-inline mt-3 mt-md-2 ml-5 d-flex topnav">
            <input class="form-control me-2" type="text" placeholder="Search...">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>