body{
  background: linear-gradient(to bottom, #023e8a,#0077b6,#0096c7,#00b4d8);

}
.container{
 width: 1200px;
 height: 600px;
}

.column{
  float: left;
  width: 30%;
  margin: 100
}

.location{
  position: relative;
  width: 100px;
  height: 580px;
  margin: 20px;
}

.guides{
  margin: 50px;
  height: 550px;
}

.person1{
  margin: 60px;
  width: 160px;
  height: 150px;
  transform: rotate(10deg);
}
.person2{
  margin: 30px;
  width: 210px;
  height: 170px;
}
#cities {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 200px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin: 20px 0 0 20px;
  border-radius:25px;
  background: #D8D8D8;
  opacity:0.5;
}

#cities:focus{
  background: white;
  opacity:1.0;
}