nav.navbar {
    background-color: black;
}

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    font-family: 'Open Sans';
}

.main {
    margin-top: 70px;
}

#wordContainer {
    text-align: center;
}

#map {
  border: thin solid black;
  height: 500px;
}

#side {
    background-color: brown;
    color: black;
    transition: background-color 3s ease-in-out, color 3s ease-in-out;
}

:hover #side{
    background-color: darkblue;
    color: white;
}